CONFIG=./jitsi-cfg

HTTP_PORT=8000
HTTPS_PORT=8443
TZ=UTC

PUBLIC_URL=https://localhost:8443

JITSI_IMAGE_VERSION=stable
RESTART_POLICY=unless-stopped

ENABLE_AUTH=0
ENABLE_GUESTS=1
ENABLE_GUEST_MODE=1

ENABLE_LETSENCRYPT=0
DISABLE_HTTPS=0
ENABLE_HTTP_REDIRECT=0
ENABLE_PREJOIN_PAGE=0
ENABLE_WELCOME_PAGE=0

ENABLE_RECORDING=1
ENABLE_SERVICE_RECORDING=1

XMPP_DOMAIN=meet.jitsi
XMPP_AUTH_DOMAIN=auth.meet.jitsi
XMPP_GUEST_DOMAIN=guest.meet.jitsi
XMPP_MUC_DOMAIN=muc.meet.jitsi
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
XMPP_HIDDEN_DOMAIN=hidden.meet.jitsi
XMPP_SERVER=xmpp.meet.jitsi
XMPP_PORT=5222

JICOFO_AUTH_PASSWORD=
JVB_AUTH_PASSWORD=
JIGASI_XMPP_PASSWORD=
JIGASI_TRANSCRIBER_PASSWORD=
JIBRI_RECORDER_PASSWORD=
JIBRI_XMPP_PASSWORD=

JIBRI_XMPP_USER=jibri
JIBRI_RECORDER_USER=recorder
JIBRI_BREWERY_MUC=jibribrewery
JIBRI_RECORDING_DIR=/recordings
JIBRI_STRIP_DOMAIN_JID=muc
JIBRI_PENDING_TIMEOUT=90

JVB_PORT=10000
JVB_COLIBRI_PORT=8080
JICOFO_REST_PORT=8888

DOCKER_HOST_ADDRESS=127.0.0.1

POSTGRES_USER=monitor
POSTGRES_PASSWORD=change-me-postgres
POSTGRES_DB=monitor
